.App {
  text-align: center;
  background-color: #e8e8e8;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #8064A2;
    border-color: #8064A2;
}

.login-button,
.login-button:hover,
.login-button:active,
.login-button:visited,
.login-button:focus {
  background-color: #8064A2;
  border-color: #8064A2;
  color: white;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

.Search {
  text-align: center;
}

.Discordbutton {
  background-color: #4d2596;
  color: white;
}

.App-intro {
  font-size: large;
}

.Jumbotron {
  text-align: center;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* =================================
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  background: #f6f7f7;
  padding-top: 145px;
  padding-bottom: 50px;
  margin: 0;
}

a {
  text-decoration: none;
}


ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-size: 1.12em;
  height: 46px;
  padding-bottom: 1em;
  padding-left: 0;
  background: none;
  border: none;
  outline: 0;
  border-bottom: 4px solid #e4e4e4;
  transition: border-color .4s;
}

input:focus {
  border-color: #8064A2;
}

button {
  width: 40px;
  height: 35px;
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  position: relative;
  z-index: 2000;
}

.Discordbutton,
.Discordbutton:hover,
.Discordbutton:active,
.Discordbutton:visited,
.Discordbutton:focus {
  background-color: #4d2596;
  color: white;
  width : 120px;
  border-color: white;
}

/* =================================
  Page Components
==================================== */

.main-title {
  float: left;
  color: #8064A2;
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.browse-button {
  float: left;
  padding-left: 40px;
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.create-session {
  float: left;
  padding-left: 40px;
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.thumbs {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #f6f7f7;
  padding : 5px;
  margin: 6px;
}

.search-form input:only-of-type {
  width: 100%;
  margin-right: -40px;
  padding-right: 35px;
}

.search-button {
  float: right;
  margin-right: -10px;
}

.icn-search {
  font-weight: 700;
}

.ic_videogame_asset {
  float: left;
  margin-left: 0px;
}

.card-title {
  color: #8064A2;
  text-transform: capitalize;
}

.session-header {
  float: left;
  padding-left: 10px;
  color: #8064A2;
  font-size: 2.5em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.updated-status {
  color: #8064A2;
  text-align: center;
}

.icon-gif {
  font-size: 6em;
  margin-bottom: 0;
  color: #7bcbc4;
  display: block;
}

.no-gifs  {
  color: #7bcbc4;
  height: 140px;
  padding-top: 62px;
  text-align: center;
  font-size: 1.25em;
}

.gif-list a {
  display: block;
  margin: auto;
}

.gif-list {
  padding-top: 90px;
}

.tooltip-left {
  padding-left: 50px;
}

.session-list a {
  display: block;
  margin: auto;
}

.session-list li {
  float: left;
  width: 33.33333333%;
  padding: 0px;
  margin: 0;
}

.gif-wrap {
  position: relative;
  line-height: normal;
}


.game-card {
  background-color: #fff;
  position: relative;
  border: 5px;
}

.gif-wrap img {
  min-width: 100%;
}

/* =================================
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  min-height: 80px;
  z-index: 1000;
}

.main-content::after {
  content: " ";
  display: table;
  clear: both;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
  .gif-list li {
    text-align: center;
    font-size: 0;
  }
}

@media (min-width: 550px) {
  .gif-list li {
    float: left;
    width: 50%;
    margin: 0;
  }
  .gif-wrap img {
    height: 200px;
  }
  .gif-list .no-gifs {
    float: none;
    width: 100%;
  }
  .gif-wrap {
    border: 0px solid white;
    padding: 0;
    overflow: hidden;
    font-size: 0;
  }
}

@media (min-width: 769px) {
  body {
    padding-top: 125px;
    padding-bottom: 150px;
  }
  .main-title {
    float: left;
  }
  .search-form {
    width: 422px;
    float: right;
    margin-top: 34px;
  }
  .gif-list li {
    width: 33.333333333%;
  }
}

@media (min-width: 769px) {
  .gif-list li:nth-of-type(3n+1) {
    clear: left;
  }
}
